<?xml version="1.0" encoding="utf-8" ?>
<targets>
  <target xsi:type="ColoredConsole"
          name="String"
          layout="Layout"
          header="Layout"
          footer="Layout"
          useDefaultRowHighlightingRules="Boolean"
          errorStream="Boolean">
    <highlight-row backgroundColor="Enum" condition="Condition" foregroundColor="Enum"/>
    <!-- repeated -->
    <highlight-word backgroundColor="Enum" foregroundColor="Enum" ignoreCase="Boolean"
                    regex="String" text="String" wholeWords="Boolean"/>
    <!-- repeated -->
  </target>
</targets>